/* Navbar base */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  background: #580092ff;
  padding: 0.8rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: yellow;
}

/* Links en desktop */
.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links li a {
  text-decoration: none;
  color:yellow;
  font-weight: 500;
}



/* Ícono hamburguesa (oculto en desktop) */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: yellow;
  margin: 4px 0;
  transition: 0.4s;
}

/* Responsive */
@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: #580092ff;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }
}
